*{
    margin: 0px;
    padding: 0px;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



h1, p, ul{
    margin: 10px;
    padding: 10px;
}

p{
    margin: 5px;
}

#first{
    text-indent: 25px;
}
#first::first-letter{
    font-size: 25px;
}

.highlight { 
    background-color: yellow;
    font-weight: bold;
}