
/Sistemas de informação/4ºperiodo/EstruturaDeDados_ II/JavaSortSearch2023-main/dist/
/Sistemas de informação/4ºperiodo/EstruturaDeDados_ II/javatree-main-2/nbproject/private/
/Sistemas de informação/4ºperiodo/EstruturaDeDados_ II/b-tree/teste1/build/