/Sistemas de informação/4ºperiodo/EstruturaDeDados_ II/JavaSorts-main/dist/
/Sistemas de informação/4ºperiodo/EstruturaDeDados_ II/JavaSortSearch2023-main/build/
/Sistemas de informação/4ºperiodo/EstruturaDeDados_ II/JavaSortSearch2023-main/nbproject/private/