/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)

   CSS RESET
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
    text-decoration: none;
    color: royalblue ;
    text-transform: uppercase;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}


/*Estilização*/

body {
    background: rgb(110, 110, 110);
    background: radial-gradient(circle, rgba(110, 110, 110, 1) 23%, rgba(0, 0, 0, 1) 79%);
    background-repeat: repeat;
    position: relative;
    background-size: cover;
    margin: 0; /* Add this to remove default body margin */
    min-height: 100vh; /* Add this to ensure the body covers the entire viewport height */
}

/* HEADER*/

header{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin: 1em 0 2em 0;
}
.title{
    color: whitesmoke;
    font-size: 3em;
}

main {
    margin-bottom: 3em; 
}

/* LINK CINEMAS*/
.main-div-cinemas{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.link-cinemas{
    display: inline-flex;
    font-size: 130%;
}
.link-cinemas:not(:last-child){
    margin-right:30% ;
}

/* SLIDERS*/

    /* BACKGROUND SLIDERS*/

    .sliders-title{
        color: whitesmoke;
        font-size: 2.5em;
        padding: 0.5em 0;
        text-align: center;
    }


    /* BACKGROUND SLIDERS*/
    .background-sliders{
        background: rgb(173,173,173);
        background: radial-gradient(circle, rgba(173,173,173,1) 15%, rgba(0,0,0,1) 71%);
        margin: 0 auto;
        width: 20%;
        height: 25%;
        padding: 1.5%;
        padding-bottom: 2%;
        border-radius: 5px;
    }
        /* SLIDERS CONFIGS */
        .slider{
            margin: 0 auto;
            width: 100%;
            height: 100%;
            overflow: hidden;    
        }

        .slides{
            width: 400%;
            height: 100%;
            display: flex;   
        }

        .slides input{
            display: none;
        }

        .slide{
            width: 25%;
            position: relative;
        }
        /* SLIDERS IMGS*/

        .slide img{
            width: 300px;
            height: 450px;
        }

        /* SLIDERS NAVIGATION */
        
        .manual-navigation{
            position: absolute;
            width: 300px;
            margin-top: 0.3em;
            display: flex;
            justify-content: center;
        }

        .manual-btn{
            border: 3px solid #ffffff;
            padding: 5px;
            border-radius: 10px;
            cursor: pointer;
            transition: 2s;
        }

        .manual-btn:not(:last-child){
            margin-right: 1em;
        }

        .manual-btn:hover{
            background-color: #ffffff;
        }

        #radio1:checked ~ .first{
            margin-left: 0;
        }
        #radio2:checked ~ .first{
            margin-left: -25%;
        }
        #radio3:checked ~ .first{
            margin-left: -50%;
        }
        #radio4:checked ~ .first{
            margin-left: -75%;
        }
        #radio5:checked ~ .first{
            margin-left: -100%;
        }
        #radio6:checked ~ .first{
            margin-left: -125%;
        }


/* FOOTER*/

.footer {
    position:relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    color: whitesmoke;
    text-align: center;
    padding: 1em 0 2em 0; 
}

.footer p{
    color: whitesmoke;
} 