/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)

   CSS RESET
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*Estilização*/

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #5697A9;
}

/*HEADER*/

#Titulo{
    width: 50%;
    margin: auto;
    margin-top: 0.6em;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    color: whitesmoke;
}

/*CARDS*/

.card{
    background-color: #0c0e30;
    border-radius: 4px;
    width: 50%;
    height: 30%;
    padding: 2em;
    margin: 1em auto;
}

    /*COLOR P CARDS*/

        .card-p, .card-valor{
            color: #b2b2b2;
        }
        .destaque-p {
            color: #febe01;
        }

    /*CONFIG P CARDS*/ 

        .card-valor{
            color: white;
            font-size: 1.5em;
            font-weight: bold;
        }
        
        #nome,
        #ano,
        #motor,
        #cambio,
        #kms{
            font-size: 0.9em;
            display: inline-block;
            margin-right: 0px; 
            margin-bottom: 15px;
        }

        

        

    /*BUTTON CARDS*/

        .card-button{
            padding: 0.5em;
            background-color: #febe01;
            color: #332200;
            text-align: center; 
            border: none;
            border-radius: 4px; 

        }