/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)

   CSS RESET
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*Estilização*/

*{
    font-family: Arial, Helvetica, sans-serif;
}

/*HEADER*/

    /*HEADER TITULO*/

    #Titulo{
        width: 50%;
        margin: auto;
        margin-top: 0.6em;
        margin-bottom: 0.4em;
        text-align: center;
        font-size: 3em;
        font-weight: bold;
        
    }

    /*HEADER LOGO*/
            
        #logo {
            width: 9em; 
            height: 9em; 
            margin: auto; 
            margin-bottom: 1.5em;  
            text-align: center; 
            background-color: #0c0e30;
            border-radius: 50%; 
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .card-imgsConfig-logo {
            width: 8em; 
            height: 8em; 
            padding-top: 0.5em ;
            display: block; 
            margin: auto; 
        }  

/*CARDS*/

.card{
    background-color: #0c0e30;
    border-radius: 4px;
    width: 50%;
    height: 40%;
    padding: 2em;
    margin: 1em auto;
}

.card-img{
    width: 100%;
    height: 100%;
}

.card-info{
    width: 100%;
    height: 100%;
}

    /*COLOR P CARDS*/

        .card-p, .card-valor{
            color: #b2b2b2;
        }
        .destaque-p {
            color: #febe01;
        }

    /*CONFIG P CARDS*/ 

        .card-valor{
            color: white;
            font-size: 1.5em;
            font-weight: bold;
        }
        
        #nome,
        #ano,
        #motor,
        #cambio,
        #kms{
            font-size: 0.9em;
            display: inline-block;
            margin-right: 0px; 
            margin-bottom: 15px;
        }

        

        

    /*BUTTON CARDS*/

        .card-button{
            padding: 0.5em;
            background-color: #febe01;
            color: #332200;
            text-align: center; 
            border: none;
            border-radius: 4px; 

        }


    /*CARD IMAGEM*/
        
        .card-img{
            height: 200px; /* 100% de altura da div pai */
            align-items: center; /* Centraliza verticalmente os itens */
            margin-bottom: 1.5em;
        }
                    
        .card-imgsConfig {
            width: 100%;
            max-height: 100%; /* Garante que a imagem não ultrapasse a altura da div pai */
            object-fit: cover; /* Mantém a proporção da imagem e a ajusta para cobrir a div */
            border-radius: 4px;
            border: 1.5px;
            border-style:solid;
            border-color: white;
        }
