body {
    background-color: #d8dadb;
}

h1, h3 {
    color: #343a40;
}

input {
    margin-bottom: 10px;
}

.modal-body {
    font-size: 18px;
}

h5 {
    margin-top: 20px;
    color: #343a40;
}

p {
    font-size: 16px;
}
